@import "../variables.scss";

@mixin app-container {
  display: flex;
  flex-direction: column;
  background: $main-background-color;
  height: 100vh;
  color: white;
}

@mixin top-nav-container {
  height: $top-nav-height;
  min-height: $top-nav-height;
  //   padding: $padding-nav;
  background: $top-nav-background-color;
}

@mixin menu-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@mixin left-nav-container {
  width: 192px;
  height: calc(100vh - 138px); //really?
  padding: $padding-container;
  background: $left-nav-background-color;
  overflow-y: hidden;
  position: absolute;
  scrollbar-width: none;
  &:-webkit-scrollbar {
    width: 0px;
  }
}

@mixin content-container {
  height: auto;
  width: 100%;
  padding: $padding-container;
  background: $content-background-color;
}

@mixin footer-container {
  height: $footer-height;
  min-height: footer-height;
  //   padding: $padding-footer;
  background: $footer-background-color;
}
